<!--The content below is only a placeholder and can be replaced.-->
<div class="parent-container">
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<h6>{{childMessage}}</h6>
<input type="text"  placeholder="Type Message" #msg>
<button (click)="communicate(msg)">Communicate to child</button>

<div class="grid-container">
    

    <app-child [parent_param]="parent_param" (childEvent)="updateChildMsg($event)"></app-child>

    <app-unrelated></app-unrelated>
  
  </div>

</div>


